@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@500;800&display=swap");

$yellow: hsl(47, 88%, 63%);
$white:  hsl(0, 0%, 100%);
$gray-500: hsl(0, 0%, 42%);
$gray-950: hsl(0, 0%, 7%);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Figtree', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    background-color: $yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.blog-container{
    max-width: 500px;
    width: 100%;
    padding: 2rem;
    border-radius: 1.5rem;
    background-color: $white;
    box-shadow: 10px 10px $gray-950;
    border: 2px solid $gray-950;

    img{
        width: 100%;
        height: auto;
        display: block;
        border-radius: 1rem;
    }

    .card-content{
        margin: 1.5rem 0;

        .badge{
            display: block;
            background-color: $yellow;
            color: $gray-950;
            font-weight: 700;
            padding: 0.6rem;
            max-width: 85px;
            width: 100%;
            border-radius: 0.3rem;
            margin-bottom: 0.9rem;
            transition: all 0.3s ease;
            cursor: pointer;

            &:hover{
                background-color: lighten($yellow, 10%);
                transform: scale(1.05);
            }
        }

        .date{
            display: block;
            margin-bottom: 2rem;
        }

        h1{
            margin-bottom: 1rem;
        }

        p{
            font-size: 1.2rem;
            line-height: 30px;
            color: $gray-500;
            margin-bottom: 2rem;
        }

        .author{
            display: flex;
            align-items: center;
            gap: 8px;

            .author-image{
                width: 3rem;
                height: 3rem;
                object-fit: cover;
            }

            .author-name{
                font-weight: 700;
                color: $gray-950;
                cursor: pointer;
                transition: all 0.3s ease;

                &:hover{
                    transform: scale(1.05);
                    color: $gray-500;
                }
            }
        }
    }
}

footer { 
    font-size: 0.8rem; 
    text-align: center; 
    color: $gray-950;
    margin: 1rem auto;

    a,
    a:visited { 
        color: lighten($gray-950, 10%); 
        text-decoration: none;
    }
}